html {
  overflow: hidden !important;
}

body {
  overflow: hidden !important;
}
  
.topo {
    height: 60px;
    width: 100vw;
    background: #862924;
    position: -webkit-fixed;
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.box-buscar {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.box-buscar input {
    padding: 10px 20px;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
    border-radius: 50px;
    color: #868686;
}

.box-produtos {
    width: 100vw;
}

.card-produto {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.171);
}

.titulo-produto {
    background: #B36A20;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0px 0px;
}

.titulo-produto h1 {
    color: white;
    font-size: 1.9rem;
}

.img-produto {
    height: 227px;
}

.img-produto img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.descricao-produto {
    margin: 20px;
}

.paragrafo-localizacao {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.3rem;
    margin-bottom: 20px;
}

.paragrafo-localizacao span {
    margin-right: 10px;
}

.paragrafo-localizacao span img {
    width: 30px;
}


.paragrafo-descricao {
    color: #868686;
    font-size: 1.4rem;
    font-weight: 100;
}

.box-btn-ver-produtos {
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn-ver-produtos {
    background: #f4a15d;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 20px;
    margin-top: 30px;
    color: rgb(61, 61, 61);
}

.block {
  display: block;
}

.hidden {
  display: none;
}

.box-produto-pattisier-curso {
  background: white;
  width: 100vw;
  height: 100vh;  
  position: fixed;
  top: 0;
  left: 100%;
  transition: 1s;
  z-index: 2;
}
