.body-orders {
  overflow-x: hidden;
  width: 100%;
}

.box-orders {
  margin: 30px;
  align-items: flex-start;
  position: relative;
  overflow-x: hidden;
}

.box-orders h1 {
  color: #868686;
  font-weight: normal;
}

.box-lista-orders {
  display: flex;
  justify-content: center;
  width: 100%;
}

.box-lista-orders li {
  list-style: none;
  font-size: 1.9rem;
  font-weight: bold;
  color: #868686;
}

