.box-barra-progresso-order {
    background: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.progresso {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: #E0E0E0;
    border-radius: 50%;
    border: 3px solid #E0E0E0;
    z-index: 0
}

.etapa-ativa {
    background: white;
    border: 3px solid #df750c;
}

.progresso p {
    font-size: 1.7rem;
    font-weight: bold;
    opacity: 0;
}

.etapa-ativa p {
    opacity: 1;
}

.progresso-andamento {
    height: 11px;
    width: 100px;
    background: #E0E0E0;
    margin: 0 -1px
}

.progresso-finalizado {
    background: #df750c;
}

.box-info-order {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.item-info-order {
  margin-bottom: 30px;
  width: 95%;
}

.item-info-order h2 {
  font-size: 1.4rem;
  font-weight: normal;
  color: #a8a8a8;
}

.item-info-order p {
  font-size: 1.5rem;
  line-height: 2.6rem;
}

.item-info-order input {
  width: 95%;
  border: 1px solid #df750c;
}