.iconeVisivel {
  display: block;
}

.iconeNaoVisivel {
  display: none;
}

main {
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 60px;
  padding-bottom: 80px;
  position: absolute;
}